- name: make data dir
  file:
    path: "{{ docker_immich_data_path }}"
    recurse: yes
    state: directory
    owner: "911"
    group: "911"

- name: deploy immich container
  docker_container:
    name: some-immich-container
    image: "ghcr.io/imagegenius/immich:2.3.1"
    state: started
    restart: yes
    restart_policy: always
    volumes:
      - "{{ docker_immich_data_path }}/config:/config"
      - "{{ docker_immich_data_path }}/photos:/photos"
      - "{{ docker_immich_data_path }}/ml:/config/machine-learning"
      - "{{ docker_immich_data_path }}/imports:/import"
    networks:
      - name: cache_network
      - name: db_network
      - name: proxy_network
    ports:
      - 8098:8080
    env:
      PUID: "911"
      PGID: "911"
      DB_HOSTNAME: some-postgres-container
      DB_USERNAME: postgres
      DB_PASSWORD: "{{ vault_postgres_root_password }}"
      DB_DATABASE_NAME: immich
      REDIS_HOSTNAME: some-redis-container
      REDIS_PASSWORD: "{{ vault_redis_password }}"
