[Unit]
Description=Start telegram bot

[Service]
Type=simple
User={{ telegram_user_account }}
Group={{ telegram_user_account }}
ExecStart={{ telegram_anaconda_path }}/envs/telegram-bot/bin/run-telegram-bot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
