- name: deploy bookstack container
  become: true
  community.docker.docker_container:
    name: some-bookstack-container
    image: "linuxserver/bookstack:25.12.7"
    restart: true
    state: started
    restart_policy: always
    networks:
      - name: db_network
      - name: proxy_network
    volumes:
      - "{{ docker_data_path }}/bookstack:/config"
    env:
      APP_URL: "{{ vault_local_domain_name_scheme }}://{{ vault_local_domain_name }}/tools/bookstack"
      DB_HOST: some-mariadb-container
      DB_USER: bookstack
      DB_PASS: "{{ vault_mysql_bookstack_password }}"
      DB_DATABASE: bookstack

# TODO: REFACTOR TO ROLE WITH NAGIOS VERSION
- name: Check if awscli exists
  ansible.builtin.stat:
    path: /usr/local/bin/aws
  register: awscli_result

- name: download and decompress awscli
  ansible.builtin.unarchive:
    src: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
    dest: "/tmp/"
    remote_src: true
    owner: root
    group: root
  when: not awscli_result.stat.exists

- name: run awscli installer
  ansible.builtin.shell:
    cmd: "/tmp/aws/install"
  when: not awscli_result.stat.exists
- name: copy over backup script
  ansible.builtin.include_role:
    name: copy_scripts
    apply:
      become: true
  vars:
    script_to_copy: backup_bookstack_db

- name: set permissions for backup
  become: true
  ansible.builtin.file:
    path: "{{ scripts_dir }}/backup_bookstack_db"
    owner: root
    group: root
    mode: "0700"

- name: add backup job for db
  become: true
  ansible.builtin.cron:
    name: "backup bookstack db"
    special_time: weekly
    job: "{{ scripts_dir }}/backup_bookstack_db"
