#!/bin/sh
#
# This shell script if placed in /etc/apcupsd
# will be called by /etc/apcupsd/apccontrol when shutting down
#

export HOSTNAME=`hostname`
export MSG="$HOSTNAME IS SHUTTING DOWN !!!"

printf "$MSG" | apprise --config /opt/scripts/apprise.conf --tag default
/sbin/shutdown -h now
