- name: make data dir
  ansible.builtin.file:
    path: "{{ docker_nexus_data_path }}"
    recurse: true
    state: directory
    owner: "200"
    group: "200"

- name: deploy nexus container
  community.docker.docker_container:
    name: some-nexus-container
    image: "sonatype/nexus3:3.89.1-alpine"
    volumes:
      - "{{ docker_nexus_data_path }}:/nexus-data"
    state: started
    restart: true
    restart_policy: always
    networks:
      - name: proxy_network
    ports:
      - 8081:8081
