inventory/real/group_vars/*/vault diff=ansible-vault merge=binary
roles/deploy_docker_homer/templates/config-apt-*.yaml diff=ansible-vault merge=binary
roles/install_rclone/templates/rclone.conf.j2 diff=ansible-vault merge=binary
