GENERAL_PORT = {{ microservice_port }}
GENERAL_HOSTNAME='{{ ansible_hostname }}'

AUTH_USERNAME='{{ lookup('password', 'credentials/{{ microservice_name }}/user.txt length=10 chars=ascii_letters,digits') }}'
AUTH_PASSWORD='{{ lookup('password', 'credentials/{{ microservice_name }}/password.txt length=10 chars=ascii_letters,digits') }}'
