- name: download check_docker plugin
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/timdaman/check_docker/master/check_docker/check_docker.py"
    dest: /usr/lib/nagios/plugins/check_docker
    owner: root
    group: root
    mode: "0755"

- name: Add checks for disk space
  ansible.builtin.cron:
    name: "Nagios: {{ item.key }}"
    minute: "{{ check_interval_mins }}"
    job: "{{ nagios_cron_randomizer }} && SERVICE_NAME=\"Disk {{ item.key }}\" CHECK_CMD=check_disk CHECK_ARGS=\"{{ item.value }}\" {{ scripts_dir }}/submit_nagios_check.sh > /dev/null"
  loop: "{{ disks | dict2items }}"
  vars:
    disks:
      mnt-raid0: "/mnt/raid0"
      mnt-raid_backup: "/mnt/raid_backup"
      mnt-other_data: "/mnt/other_data"
      mnt-vm_drives: "/mnt/vm_drives"
      mnt-docker_data: "/mnt/docker_data"
      mnt-downloads: "/mnt/downloads"

- name: Add checks for containers
  ansible.builtin.cron:
    name: "Nagios: {{ item }}"
    minute: "{{ check_interval_mins }}"
    job: "{{ nagios_cron_randomizer }} && SERVICE_NAME=\"Docker {{ item }}\" CHECK_CMD=check_docker CHECK_ARGS=\"--status=running --containers {{ item }} --present\" {{ scripts_dir }}/submit_nagios_check.sh > /dev/null"
  loop:
    - some-apache2-container
