

- name: install useful packages debian
  become: true
  apt: 
    name: ['curl', 'git', 'ntp', 'screen', 'stow']
    state: present
  when: ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" 

- name: enable epel centos
  become: true
  yum: 
    name: "epel-release"
    state: present
  when: ansible_distribution == "CentOS"

- name: install useful packages centos
  become: true
  yum: 
    name: ['crontabs', 'curl', 'git', 'chrony', 'screen', 'stow']
    state: present
    enablerepo: "epel"
  when: ansible_distribution == "CentOS"

- name: checkout dotfiles
  become_user: "{{ user_to_configure }}"
  git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ user_home_directory }}/dotfiles"

- name: Remove old config files
  become_user: "{{ user_to_configure }}"
  file:
    path: "{{ user_home_directory }}/{{ item }}"
    state: absent
  with_items:
    - .bashrc
    - .bash_aliases
    - .screenrc
    - .gitconfig

- name: stow config files
  become_user: "{{ user_to_configure }}"
  shell: stow -d '{{ user_home_directory }}/dotfiles' -t '{{ user_home_directory }}' '{{ item }}'
  with_items:
    - bash
    - git
    - screen

