
# TODO: figure out when pip vs apt package
- name: Install pip
  apt:
    name: ["python3-pip", "apprise"]
    state: present

- name: Copy config file
  include_role:
    name: copy-scripts
    apply:
      become: true
  vars:
      script_to_copy: apprise.conf
      file_owner: "{{ apprise_owner }}"
      file_group: "{{ apprise_group }}"
      file_permissions: "{{ apprise_config_mode }}"
